<h1>User <small> {{ user.name }} </small></h1>
<hr>

<div class="row text-right">
    <div class="col">
        <button routerLink="/users" class="btn btn-outline-secondary"> 
            <i class="fa fa-arrow-left"></i>
            Back            
        </button>
    </div>
</div>

<div class="row">
    <div class="col">
        <form ngNativeValidate (ngSubmit)="saveOrUpdate(f)" #f="ngForm">

            <div class="form-group">
                <label for="name">Username</label>
                <input class="form-control" type="text" name="name" [(ngModel)]="user.name" [disabled]="isDetail" placeholder="Username" required>
            </div>

            <div *ngIf="!isDetail" class="form-group">
                <label for="password">Password</label>
                <input class="form-control" type="password" name="password" [(ngModel)]="user.password" placeholder="Password" required>
            </div>

            <div class="form-group">
                <label for="role">Role</label>
                <select [disabled]="isDetail" class="form-control" name="role" [(ngModel)]="user.role">
                    <option *ngFor="let role of roles" [value]="role.value">{{ role.value }}</option>                    
                </select>
            </div>
            <hr>

            <div *ngIf="!isDetail" class="form-group">
                <button class="btn btn-primary" type="submit">
                    <i class="fa fa-save"></i>
                    Save
                </button>
            </div>

        </form>
    </div>
</div>